@use 'sass/anim';
@use 'sass/utils';

// BODY

$font-stack: Helvetica, Arial, sans-serif;
$mono-stack: 'Monaco', 'Inconsolata', Courier, monospace;
$serif-stack: 'Times New Roman', Times, serif;
$body-text-color: #ddd;
$body-background-color: #222;
$breakpoint-big: 1500px;
$breakpoint-small: 900px;
$h1-color: #000;
$header-text-color: #000;

body {
    font-family: $font-stack;
    margin: 0px;
    padding: 0px;
    font-size: 12pt;

    color: $body-text-color;
    background-color: $body-background-color;
}

@media only screen and (min-width: $breakpoint-big) {
    body {
        font-size: 16pt;
    }
}

a {
    transition: 0.2s;
    &:hover {
        transition: 0.2s;
    }
}

.mono {
    font-family: $mono-stack;
}

.serif {
    font-family: $serif-stack;
}

// NAV LINKS

.nav-bar {
    position: absolute;
    width: 100%;
    top: 1.5rem;
    display: flex;
    justify-content: space-between;

    >span { padding: 0 2rem; }

    a {
        @include anim.animated-underline(#eee);
    }
}

.nav-bar.invert {
    a{
        @include anim.animated-underline(#333);
    }
}

// HEADER

header {
    color: $header-text-color;

    height: 100vh;
    background-image: url(images/atlas-hr.jpg);
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;

    section {
        /* align everything to center */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
        position: relative;
        top: 20vh;
        margin: 0 2rem;

        p {
            animation: 1.5s ease-out 0s 1 fadeIn;
            margin: 0 0 1rem;
        }

        .header-links {
            animation: 1s ease-out 0s 1 fadeInFromBottom;
        }
    }

    a {
        @include anim.animated-underline($header-text-color);
    }
}

h1 {
    font-size: 25pt;
    color: $h1-color;
    animation: 1.5s ease-out 0s 1 fadeInFromTop;
    margin: 2rem 0 1.5rem;
}

.short-header {
    height: 55vh;
    background-image: url(images/atlas-hr-short.jpg);
    h1 { animation: none; }
}

@media only screen and (min-width: $breakpoint-big) {
    h1 {
        font-size: 35pt;
    }
}


// MAIN CONTENT

.permalink {
    padding-left: 0.5ex;
    font-size: 17pt;
    transition: 0.5s;
    color: #aaa;
    &:hover {
        color: $body-text-color;
    }
}

$dark-link-color: lightskyblue;
$dark-link-hover-color: #eee;

.content {
    margin-left: 8vw;
    margin-right: 8vw;

    a {
        color: $dark-link-color;
    }
    
    a:hover {
        color: $dark-link-hover-color;
    }

    padding: 0.5rem 0;

    h2 {
        padding-left: 2rem;
        font-size: 20pt;
        font-weight: lighter;
    }

    h3 {
        padding-top: 1rem;
        font-weight: lighter;
    }

    ul {
        margin-top: -0.5rem;
    }
}

.text-column {
    margin: 0 auto;
    max-width: 60ex;
}

// puts two children elements side by side
.side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;

    >*:first-child {
        margin: 0;
        padding-right: 5vw;
    }

    >*:last-child {
        text-align: center;
    }

    img {
        padding-top: 1rem;
        max-height: 20em;
    }
}

@media only screen and (max-width: $breakpoint-small) {
    // collapse to vertical block layout if screen too small
    .side-by-side {
        display: block;
        img {
            margin-top: 3vh;
            max-height: unset;
            max-width: 60%;
        }
    }
}

// INVERTED COLOR SECTION

$white-section-background-color: #f4f4f4;
$white-section-color: #333;
$white-section-link-color: darkcyan;
$white-section-link-hover-color: lightskyblue;

.white-section {
    background-color: $white-section-background-color;
    color: $white-section-color;
    a { color: $white-section-link-color; }
    a:hover { color: $white-section-link-hover-color; }
    .permalink { color: #666; }
    .permalink:hover { color: $white-section-color; }
}

#recent-works {
    margin: 2rem 0 0 0;
    padding: 1rem 0;
    text-align: center;

    h2 {
        padding: 0;
        margin-bottom: 0.5rem;
    }
}

#publications {
    margin: 0;
    padding: 3rem 10%;

    h2 {
        padding: 0;
        margin-bottom: 0.5rem;
    }

    li {
        padding-bottom: 0.4rem;
        span {
            display: inline-block;
            max-width: 70ch;
            vertical-align:top;
        }
    }
}

// Display three columns side by side
.three-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 2rem;
    margin: auto;
    max-width: 180ex;

    > article { // Each column is an article...
        flex-basis: 30%;
        img {
            margin: 1rem 0;
            max-width: 100%;
            max-height: 18rem;
        }
        > section { // ...and the main text content is in a section
            padding: 0 1rem;
            text-align: left;
        }
    }
}

@media only screen and (max-width: $breakpoint-small) {
    .three-columns {
        display: block;
        img {
            max-width: 75%;
        }
    }
}


// FULL-WIDTH IMAGES

@mixin wider($left, $width) {
    position: relative;
    left: -$left;
    width: $width;
    img {
        width: $width;
        height: auto;
    }
}

#walk-gen {
    @include wider(20%, 120%);
}

#survival {
    @include wider(0%, 100%);
}

.wide {
    @include wider(0%, 100%);
}

.half-wide {
    margin-left: 25%;
    width: 50%;
    img {
        width: 100%;
        height: auto;
    }
}



// ARROWS

$down-arrow-color: #ddd;
$down-arrow-hover-color: #fff;
$back-to-top-arrow-color: #aaa;
$back-to-top-arrow-hover-color: #fff;

@mixin arrow($color, $hover-color) {
    color: $color;
    transition: 0.5s;
    opacity: 0.8;

    &:hover {
        cursor: pointer;
        color: $hover-color;
        transition: 0.5s;
        opacity: 1;
    }
}

#down {
    position: absolute;
    top: 80vh;
    padding: 20px;
    font-size: 5vmin;
    @include arrow($down-arrow-color, $down-arrow-hover-color);
}

#back-to-top {
    position: fixed;
    left: 4vh;
    top: 90vh;
    font-size: 4vmin;
    color: $back-to-top-arrow-color;
    @include arrow($back-to-top-arrow-color, $back-to-top-arrow-hover-color);
}

@media only screen and (max-width: $breakpoint-small) {
    #back-to-top {
        display: none;
    }
}

// FOOTER

footer {
    float: right;
    margin-right: 1ex;
    margin-bottom: 1ex;
    font-size: 2vmin;
}

// MISC

.contact {
    list-style-type: none;
}