@keyframes fadeInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInFromBottom {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome, Opera and Firefox */
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 12pt;
  color: #ddd;
  background-color: #222;
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 20pt;
  }
}
a {
  transition: 0.2s;
}
a:hover {
  transition: 0.2s;
}

.mono {
  font-family: "Monaco", "Inconsolata", Courier, monospace;
}

.serif {
  font-family: "Times New Roman", Times, serif;
}

.nav-bar {
  position: absolute;
  width: 100%;
  top: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.nav-bar > span {
  padding: 0 2rem;
}
.nav-bar a {
  position: relative;
  text-decoration: none;
  color: #eee;
}
.nav-bar a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #eee;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.nav-bar a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-bar.invert a {
  position: relative;
  text-decoration: none;
  color: #333;
}
.nav-bar.invert a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
.nav-bar.invert a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

header {
  color: #111;
  height: 100vh;
  background-image: url(images/atlas-hr.jpg);
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
header section {
  /* align everything to center */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20vh;
  margin: 0 2rem;
}
header section p {
  animation: 1.5s ease-out 0s 1 fadeIn;
  margin: 0 0 1rem;
}
header section .header-links {
  animation: 1s ease-out 0s 1 fadeInFromBottom;
}
header a {
  position: relative;
  text-decoration: none;
  color: #111;
}
header a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #111;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}
header a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

h1 {
  font-size: 25pt;
  color: #333;
  animation: 1.5s ease-out 0s 1 fadeInFromTop;
  margin: 2rem 0 1.5rem;
}

.short-header {
  height: 55vh;
  background-image: url(images/atlas-hr-short.jpg);
}
.short-header h1 {
  animation: none;
}

@media only screen and (min-width: 1500px) {
  h1 {
    font-size: 35pt;
  }
}
.permalink {
  padding-left: 0.5ex;
  font-size: 17pt;
  transition: 0.5s;
  color: #aaa;
}
.permalink:hover {
  color: #ddd;
}

.content {
  margin-left: 8vw;
  margin-right: 8vw;
  font-size: 12pt;
  padding: 0.5rem 0;
}
.content a {
  color: lightskyblue;
}
.content a:hover {
  color: #eee;
}
.content h2 {
  padding-left: 2rem;
  font-size: 20pt;
  font-weight: lighter;
}
.content h3 {
  padding-top: 1rem;
  font-weight: lighter;
}
.content ul {
  margin-top: -0.5rem;
}

.text-column {
  margin: 0 auto;
  max-width: 60ex;
}

.side-by-side {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.side-by-side > *:first-child {
  margin: 0;
  padding-right: 5vw;
}
.side-by-side > *:last-child {
  text-align: center;
}
.side-by-side img {
  padding-top: 1rem;
  max-height: 20em;
}

@media only screen and (max-width: 900px) {
  .side-by-side {
    display: block;
  }
  .side-by-side img {
    margin-top: 3vh;
    max-height: unset;
    max-width: 60%;
  }
}
.white-section {
  background-color: #f4f4f4;
  color: #333;
}
.white-section a {
  color: darkcyan;
}
.white-section a:hover {
  color: lightskyblue;
}
.white-section .permalink {
  color: #666;
}
.white-section .permalink:hover {
  color: #333;
}

#recent-works {
  margin: 2rem auto;
  padding: 1rem 0;
  text-align: center;
}
#recent-works h2 {
  padding: 0;
  margin-bottom: 0.5rem;
}

.three-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 2rem;
  margin: auto;
  max-width: 180ex;
}
.three-columns > article {
  flex-basis: 30%;
}
.three-columns > article img {
  width: 100%;
}
.three-columns > article > section {
  padding: 0 1rem;
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .three-columns {
    display: block;
  }
  .three-columns img {
    max-width: 75%;
  }
}
#walk-gen {
  position: relative;
  left: -20%;
  width: 120%;
}
#walk-gen img {
  width: 120%;
  height: auto;
}

#survival {
  position: relative;
  left: 0%;
  width: 100%;
}
#survival img {
  width: 100%;
  height: auto;
}

.wide {
  position: relative;
  left: 0%;
  width: 100%;
}
.wide img {
  width: 100%;
  height: auto;
}

.half-wide {
  margin-left: 25%;
  width: 50%;
}
.half-wide img {
  width: 100%;
  height: auto;
}

#down {
  position: absolute;
  top: 80vh;
  padding: 20px;
  font-size: 5vmin;
  color: #ddd;
  transition: 0.5s;
  opacity: 0.8;
}
#down:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  opacity: 1;
}

#back-to-top {
  position: fixed;
  left: 4vh;
  top: 90vh;
  font-size: 4vmin;
  color: #aaa;
  color: #aaa;
  transition: 0.5s;
  opacity: 0.8;
}
#back-to-top:hover {
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  #back-to-top {
    display: none;
  }
}
footer {
  float: right;
  margin-right: 1ex;
  margin-bottom: 1ex;
  font-size: 2vmin;
}

.contact {
  list-style-type: none;
}

/*# sourceMappingURL=styles.css.map */
