
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;

    max-width: 70ch;
    margin: 2em auto 4em auto;
}

.posts {
    display: grid;
    grid-template-columns: 20ch 1fr;
    grid-template-rows: 1.5em;
}
